.blurb {

}

.project {

}
.demo{

}
.description{

}

.pane {
	/*border:1px solid green;*/
	min-height:90vh;
	/*width:100vw;*/
	/*display: flex;
	justify-content: center;*/
}

.angle {
	/*background-color: grey;*/

	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);*/
	color: white;
}

.border1 {
	border:1px solid blue;
}
.paneContent{
	width: 100%;
}

nav {
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 80%);
	/*-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 70%, 0% 100%);*/
	box-shadow: none;
}
h1,h2,h3,h4,h5,h6,p {
	font-family: 'Catamaran', sans-serif;
	font-weight: 100;
}
h1{

  
}
.gradientFill{
	background: -webkit-linear-gradient(90deg, #d53369 0%, #daae51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fixedRight{
	/*border:1px solid red;*/
	max-width: 10em;
	position: fixed;
	right:2em;
	top: 3em;
}
.card-tech{
	font-style: italic;;

}
.card-content{
	margin-top:-30px;
	background-color: #333;
  	clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
  	color:white;
  	min-height: 15em;
}

.skill-icon{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  display: inline;
  width:18%;
  margin: 3%;
}
.bigger{
	width:25%;
}
.skill-icon:hover{
  -webkit-filter: none;
  filter: none;

}

.hundo {
	width: 100%;
	flex-wrap: wrap;
}
.me {
	height: 10rem;
	border-radius: 5rem;
	margin: 1em;
} 
.jc {
	justify-content: center;

}
.remove-margin {
	margin:0;
}

.ai{
	align-items: center;
}
footer a {
	color: white;
	margin-top: 3em;
}


footer i {
	margin-right: .2em;
}

footer li{
	display:  inline;
	margin:.5em;
}
.contact-icon {
	height: 1em;
}